.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
Source/GUI/logs/*
Source/GUI/ham_gui_config.json
Source/GUI/build/*
Source/GUI/Main.spec
Source/GUI/dist/*
.DS_Store
Source/GUI/HamMessenger.spec
Source/MicroAPRS Firmware Installer/avrdude.*
Source/MicroAPRS Firmware Installer/*.hex
