altgraph==0.17.4
aprspy==0.4.0
bitarray==3.3.2
bitstring==4.3.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
fonttools==4.55.2
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
idna==3.10
kiwisolver==1.4.7
matplotlib==3.9.3
numpy==2.1.3
packaging==24.2
pefile==2023.2.7
pillow==11.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.0
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyserial==3.5
python-dateutil==2.9.0.post0
pywin32==310
pywin32-ctypes==0.2.3
ratelim==0.1.6
requests==2.32.3
scipy==1.14.1
setuptools==80.3.1
six==1.17.0
tkintermapview==1.29
urllib3==2.4.0